# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# vendor/

# Project specific
dist/
config.yaml
config_*.yaml
*.db
*.log
*.xlsx
debug_output.txt
ExifScan

# Scan output
scan_results.json
scan_results.xlsx
